html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro Regular"), local("CeraPro-Regular"),
    url("../fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro Light"), local("CeraPro-Light"),
    url("../fonts/CeraPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro Black"), local("CeraPro-Black"),
    url("../fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro Medium"), local("CeraPro-Medium"),
    url("../fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro Bold"), local("CeraPro-Bold"),
    url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Cera Pro";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #455273;
  background-color: #e9effc;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid orange;
}

.about {
  width: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__wrapper {
  margin-left: 30px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__logo {
  border: 1px solid black;
  background: #fae1be;
  border-radius: 50%;
}

.about__logo-subtitle {
  font-weight: 900;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid black;
}

.about__logo-text {
  font-weight: 300;
  width: 240px;
  height: 105px;
  border: 1px solid black;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.button-about__btn-order_mobile {
  display: none;
}

.main {
  width: 894px;
  min-width: 894px;
  border: 3px solid black;
}

.wrapper {
  max-width: 834px;
  height: 93%;
  background: #f5f8ff;
  border: 1px solid black;
  border-radius: 6px;
  margin: 30px;
}

.in {
  max-width: 834px;
  height: 93%;
}

.title {
  font-weight: 900;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.in__title {
  margin: 40px;
}

.in__user {
  border: 1px solid blue;
  margin: 0 40px;
}

.in__user-inputs {
  display: flex;
  flex-wrap: wrap;
}

.in__user-inputs_clm1,
.in__user-inputs_clm2 {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 330px;
}

.in__user-inputs_clm1 {
  margin-right: 80px;
}

.in__user-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.input {
  width: 328px;
  height: 23px;
  border: none;
  background: url(../img/svg/line-ico.svg) repeat-x bottom;
  font-size: 12px;
  line-height: 15px;
}

.input::placeholder {
  font-size: 12px;
  line-height: 15px;
  color: #babdc2;
}

.input-user-false {
  display: none;
  position: absolute;
  bottom: -15px;
  left: 85px;
  font-size: 12px;
  line-height: 15px;
  color: #c98e99;
}

.in__user-check {
  font-size: 12px;
  line-height: 15px;
}

.in__user-check-data {
  color: #418de8;
}

.button-in__user-next_mobile {
  display: none;
}

.middle__wrapper {
  margin: 60px 40px 0 40px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

.in__water {
  margin-right: 80px;
  border: 1px solid black;
  width: 330px;
}

.in__water-back_mobile {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #418de8;
  margin-top: 25px;
  display: none;
  background: url(../img/svg/arrow.svg) 10% no-repeat ;
}

.subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}

.in__water-buttons {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
  height: 170px;
}

.wrapper-button-in__water-size {
  margin-right: 15px;
}

.wrapper-button-in__water-size:last-child {
  margin-right: 0;
}

.button-in__water-size {
  position: relative;
  width: 96px;
  height: 130px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background: url(../img/btn-size.png) no-repeat center;
  border: none;
}

.btn-size {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.btn-number {
  position: absolute;
  top: 37px;
  left: 12px;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #babdc2;
}

.btn-price {
  position: absolute;
  left: 12px;
  bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.btn-circle_active {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  background: #ffc369;
  border-radius: 50%;
}

.btn-circle_passive {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  background: #d5dde0;
  border-radius: 50%;
}

.in__water-amount {
  display: none;
  width: 96px;
  border: 1px solid red;
  margin-top: 15px;
  margin-right: 15px;
}

.in__water-amount:last-child {
  margin-right: 0;
}

.button-in__water-amount_plus,
.button-in__water-amount_minus {
  width: 16px;
  height: 16px;
  background: #ffc369;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;

  color: #fff;
  border: none;
  border-radius: 50%;
  margin: 0 10px;
}

.in__water-amount_number {
  font-size: 12px;
  line-height: 15px;
}

.in__time {
  width: 330px;
  border: 1px solid black;
}

.in__time-day_subtitle,
.in__time-time_subtitle {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.05em;
  color: #babdc2;
  margin-bottom: 10px;
}

.in__time-day_wrapper,
.in__time-time_wrapper-weekdays,
.in__time-time_wrapper-weekends {
  display: flex;
  flex-direction: row;
}

.in__time-time_wrapper-weekends {
  display: none;
}

.button-in__time-day {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  border: none;
  background: #e5edff;
  margin-right: 8px;
}

.button-in__time-day_number {
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  top: 2.5px;
  left: 7.5px;
}

.button-in__time-day_week {
  font-size: 9px;
  line-height: 11px;
  color: #9caedd;
  position: absolute;
  bottom: 3px;
  left: 10px;
}

.button-in__time-day_next,
.button-in__time-day_before {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.5px solid #e5edff;
  box-sizing: border-box;
  background: none;
  margin-right: 8px;
}

.button-in__time-time {
  width: 93px;
  height: 30px;
  background: #e5edff;
  border-radius: 15px;
  border: none;
  font-size: 12px;
  line-height: 15px;
  margin-right: 9px;
}

.button-in__time-time_active {
  background: #ffc369;
}

.button-in__time-day_active {
  background: #ffc369;
}

.in__sum {
  margin: 60px 40px 50px 40px;
  border: 1px solid blue;
}

.in__sum-wrapper {
  display: flex;
  justify-content: space-between;
  background: url(../img/svg/line-ico.svg) repeat-x bottom;
}

.in__sum-total_ruble {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.in__sum-total_penny {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #babdc2;
}

.button {
  width: 165px;
  height: 40px;
  background: #418de8;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  transition: 0.2s;
}

.button:hover {
  background: #136fe0;
  font-size: 15px;
}

.button:active {
  background: #136fe0;
  font-size: 15px;
}

.button:disabled {
  opacity: 0.3;
}

.button[disabled]:hover {
  opacity: 0.3;
}

.button[disabled]:active {
  opacity: 0.3;
}

.button-in__sum-order {
  margin-top: 50px;
}

.out {
  max-width: 834px;
  height: 93%;
  display: none;
}
.out__title {
  height: 37px;
  margin: 40px 0 40px 40px;
  padding-left: 40px;
  background: url(../img/svg/checkmark-ico.svg) no-repeat left -7px;
}

.out__order {
  margin: 40px;
}

.out__order-items {
  display: flex;
  flex-direction: row;
  width: 745px;
  height: auto;
  margin-bottom: 30px;
}

.out__order-subtitles,
.out__order-values {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

.out__order-subtitle {
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
  margin-bottom: 30px;
  border: 1px solid red;
}

.out__order-value {
  height: 18px;
  font-size: 12px;
  line-height: 15px;
  color: #babdc2;
  margin-bottom: 30px;
  text-align: right;
  border: 1px solid green;
}

.out__desc {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
  color: #818fb3;
}

.out_desc-num {
  color: #418de8;
}

@media screen and (max-width: 1170px) {
  .page {
    justify-content: space-evenly;
  }
  .about {
    width: auto;
    position: fixed;
    left: 10%;
    top: 35%;
  }
  .about__wrapper {
    margin-left: 0;
  }
  .about__wrapper-hidden {
    border: 1px solid purple;
    width: 274px;
    height: 100vh;
  }

  .main {
    width: 475px;
    min-width: 475px;
  }
  .wrapper {
    max-width: 415px;
  }
  .in,
  .out {
    max-width: 415px;
  }
  .in__sum-wrapper {
    width: 330px;
  }
  .in__user-inputs_clm1 {
    margin-bottom: 40px;
  }
  .in__water {
    margin: 0 0 40px 0;
  }
  .out__order-items {
    width: auto;
  }
}

@media screen and (max-width: 770px) {
  .page {
    flex-direction: column;
  }
  .about {
    position: static;
    width: auto;
  }
  .about__wrapper-hidden {
    display: none;
  }
  .main {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .in__user-inputs_clm1 {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .page {
    background: #f5f8ff;
  }
  .about {
    background: #f5f8ff;
    display: none;
  }
  .about__logo {
    margin-top: 60px;
    margin-bottom: 25px;
  }
  .about__logo-subtitle {
    margin-bottom: 50px;
  }
  .about__logo-text {
    margin-bottom: 68px;
  }
  .button-about__btn-order_mobile {
    display: block;
    margin-bottom: 60px;
  }
  .main {
    min-width: auto;
  }
  .wrapper {
    margin: 0;
    width: auto;
    max-width: none;
    border-radius: 0;
  }
  .in,
  .out {
    max-width: none;
  }
  .in__title {
    display: none;
  }
  .in__user {
    display: none;
    margin: 0 20px;
  }
  .in__user-inputs_clm1,
  .in__user-inputs_clm2 {
    width: auto;
  }
  .in__user-inputs_clm1 {
    margin-bottom: 0;
  }
  .in__user-inputs_clm2 {
    margin-bottom: 30px;
  }
  .input {
    width: 90vw;
  }
  .in__user-check {
    margin-bottom: 137px;
  }
  .button-in__user-next_mobile {
    display: block;
    margin: 0 auto 60px auto;
  }
  .middle__wrapper {
    margin: 0;
    display: none;
  }
  .in__water-back_mobile {
    display: block;
  }
  .in__time{
    margin-bottom: 50px;
  }
  .in__sum {
    margin: 0 0 30px 0;
    display: none;
    text-align: center;
  }
  .in__sum-wrapper {
    width: auto;
    margin-bottom: 40px;
  }
  .button-in__sum-order {
    margin: 0;
  }
  .out {
    text-align: center;
    display: block;
  }
  .out__title {
    margin-left: 20px;
    padding-left: 40px;
    text-align: left;
  }
}
